secrets.yaml
.ssh/
.storage
.cloud
.google.token
id_rsa*
.backups/
.backup/
storage/
*.db
*.log
*.log.1
*.db-shm
*.db-wal
*.fault
!.yaml
!.gitignore
!.md
!.sh
!.js
!node-red/
custom_components/
zigbee2mqtt/log/
